@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Lexend Deca", sans-serif;
	color: var(--transparent-white);
}

body {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs */
	--very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */

	display: grid;
	place-items: center;
	grid-template-rows: 1fr auto;
	min-height: 100vh;

	background-color: var(--very-light-gray);

	font-size: 1.8vh;
}

main {
	display: flex;
	border-radius: 0.5em;
	overflow: hidden;
}

h1,
h2 {
	font-family: "Big Shoulders Display", cursive;
	font-size: 2.5em;
	text-transform: uppercase;
}

img {
	width: 4em;
}

.cards {
	width: 21em;
	aspect-ratio: 3/5;
	padding: 3em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2em;
}

div.cards:nth-of-type(1) {
	background-color: var(--bright-orange);
	color: var(--bright-orange);
}

div.cards:nth-of-type(2) {
	background-color: var(--dark-cyan);
	color: var(--dark-cyan);
}

div.cards:nth-of-type(3) {
	background-color: var(--very-dark-cyan);
	color: var(--very-dark-cyan);
}

button {
	background-color: var(--very-light-gray);
	color: inherit;
	width: fit-content;
	padding: 1em 2em;
	margin-top: auto;
	border: 0.2em solid var(--very-light-gray);
	border-radius: 2em;
	font-size: 1em;
	cursor: pointer;
}

button:hover {
	background-color: transparent;
	color: var(--very-light-gray);
}

.attribution {
	position: relative;
	color: var(--very-dark-cyan);
	bottom: 3px;
	font-size: 0.8em;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 376px) {
	body {
		font-size: 2.2vh;
	}
	main {
		flex-direction: column;
		margin: 5em auto;
	}
}
